.modal_remove {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    position: absolute;

    width: 477px;
    height: 319px;
    
    left: 482px;
    top: 261px;

    background: #FFFDFD;
    border-radius: 8px;
    z-index: 1;
}

.modal_remove h1 {
    margin-top: 56px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #000000;
}

.modal_remove h2 {
    margin-top: 24px;
    margin-bottom: 32px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #000000;
}

.modal_remove_btn_excluir {
    width: 364px;
    height: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    color: #FFF7F7;

    background: #04C45C;
    border-radius: 8px;
    border: none;
    margin: 0 auto;
    margin-bottom: 8px;
}

.modal_remove_btn_cancelar {
    width: 364px;
    height: 50px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: #FFF7F7;

    background: rgba(251, 6, 21, 0.65);
    border-radius: 8px;
    border: none;
    margin: 0 auto; 
}

.filter {
    display: inline;
    visibility: hidden;
    position: absolute;
    width: 100vw;
    height: 1100px;
    left: 0px;
    top: 0px;

    background: rgba(16, 15, 15, 0.56);
}

.modal_remove_btn_x {
    position: absolute;

    height: 16px;
    width: 16px;
    left: 440px;
    top: 18px;
    border: none;
    background-image: url('../assets/Vector.png');
}
